@font-face {
    font-family: 'Arial Rounded MT';
    src: url('../fonts/ArialRoundedMTBold.woff2') format('woff2'),
        url('../fonts/ArialRoundedMTBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Dual';
    src: url('../fonts/Dual-300.woff2') format('woff2'),
        url('../fonts/Dual-300.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-SemiBold.woff2') format('woff2'),
        url('../fonts/Kanit-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Regular.woff2') format('woff2'),
        url('../fonts/Kanit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Bold.woff2') format('woff2'),
        url('../fonts/Kanit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Medium.woff2') format('woff2'),
        url('../fonts/Kanit-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-ExtraLight.woff2') format('woff2'),
        url('../fonts/Kanit-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Light.woff2') format('woff2'),
        url('../fonts/Kanit-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-LightItalic.woff2') format('woff2'),
        url('../fonts/Kanit-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit-Black.woff2') format('woff2'),
        url('../fonts/Kanit-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
