$purple: #350932;
$wine: #712240;
$magenta: #AB2E46;
$pink: #D13B4F;
$yellow: #EFA743;
$fontText: 'Kanit', Helvetica, Arial, sans-serif;
$fontBanner: 'Dual', Helvetica, Arial, sans-serif;
$fontFacts: 'Arial Rounded MT', Helvetica, Arial, sans-serif;
