/*SCSS document*/

@import "reset";
@import "fonts";
@import "globals";
@import "mixins";

body {
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.text {
  font-family: $fontText;
  font-weight: 300;
}

header, footer {
  background-color: $purple;
}

#container{
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

header{
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  // transition: height 0.3s 0.5s ease-in-out;
  z-index: 100;
  // opacity: 1;
  div {
    background-color: $purple;
    height: 4rem;
    z-index: 150;
    opacity: 1;
    .main-logo {
      width: 9rem;
      margin: 1rem 0 0 0.8rem;
    }
    #hamburger-menu {
      color: #fff;
      float: right;
      font-size: 2.8rem;
      margin: 0.5rem 0.8rem 0 0;
      cursor: pointer;
    }
  }
  #main-nav{
    background-color: rgba(53, 9, 50, 0.8);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    top: -600%;
    width: 100%;
    @extend .text;
    z-index: -50;
    transition: top 0.8s ease-in-out;
    ul {
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      li {
        margin: 0.5rem 0;
        a{
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.2rem;
        }
      }
      li:last-child {
        width: 30%;
        margin: 1.5rem auto;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-weight: bold;
        background-color: $yellow;
      }
    }
  }
}
header.openmenu {
    #main-nav {
      top: 0;
    }
}

#facts {
  margin: 2rem 0;
  h2 {
    @extend .text;
    font-weight: 500;
    font-size: 1.6rem;
    color: $purple;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  #fact-wrapper {
    display: grid;
    grid-auto-rows: 1fr;
    grid-row-gap: 1.5rem;
    .fact {
      display: flex;
      justify-self: center;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 100%;
      max-width: 200px;
      background: $purple;
      background: linear-gradient(to bottom, $pink, $purple);
      border: none;
      border-radius: 3px;
      box-shadow: 0 1rem 1.5rem -0.5rem rgba(0,0,0,0.8),
                  20px -10px 30px -30px rgba(0,0,0,0.8);
      .fact-desc {
        font-family: $fontFacts;
        font-weight: bold;
        font-size: 1.2rem;
        color: #ffffff;
        margin: 0.5rem 0.5rem;
        text-align: center;
        line-height: 2rem;
        .number {
          font-size: 2.8rem;
          color: $yellow;
        }
        .bigger {
          font-size: 1.8rem;
        }
      }
    }
  }
}

#stats {
  background: $orchid;
  background: linear-gradient(to bottom, $orchid, $purple);
  margin-top: 7rem;
  #stats-wrapper {
    ul {
      display: grid;
      grid-template-columns:  1fr;
      li {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        align-items: center;
        font-family: $fontText;
        .stats-organ {
          justify-content: center;
          padding: 1rem 0;
          .icon-wrapper {
            display: inline-block;
            width: 21.5vw;
            height: 21.5vw;
            line-height: 21.5vw;
            background-color: $purple;
            border-radius: 100%;
            border: 1.5vw solid #ffffff;;

            img {
              vertical-align: middle;
              width: 60%;
              height: 60%;
            }
          }
          .organ-name {
            text-transform: uppercase;
            color: #ffffff;
            font-size: 4.5vw;
            font-weight: 500;
            margin-top: 0.4rem;
          }
        }
        .organ-success,
        .organ-queue {
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          font-family: $fontFacts;
          font-size: 7.5vw;
          align-items: center;
          justify-content: center;
        }
        .organ-success {
          color: $yellow;
        }
        .organ-queue {
          color: $pink;
          border-left: 0.2rem solid #ffffff;
        }
      }
      li:first-of-type {
        .stats-organ {
          padding-top: 2.5rem;
        }
        .organ-success:before,
        .organ-queue:before {
          position: absolute;
          top: -25%;
          width: 90%;
          content: "Successful transplants in Ontario 2017";
          font-family: $fontText;
          font-size: 3.5vw;
          color: #ffffff;
          background-color: $yellow;
          text-transform: uppercase;
          text-shadow: 1px 1px 3px #000000;
          line-height: 5vw;
          padding: 0.5rem 0;
          box-shadow: 2px 3px 8px -2px #000000;
        }
        .organ-queue:before {
          content: "People still waiting for a transplant";
          background-color: $pink;
        }
      }
      li:last-of-type {
        .stats-organ {
          padding-bottom: 2.5rem;
        }
      }
    }
  }
}

#events{
  margin: 50px 0 0 0;
  // width: 100%;
  .event-header{
    text-align: center;
          padding: 10px;
    h2, p{
      font-family: $fontText;
      color: $purple;
    }
    h2{
      font-size: 1.8rem;
      padding: 10px 0;
      text-transform: uppercase;
      font-weight: 500;
    }
    p {
      font-weight: 200;
    }
  }
  #event-caroussel{
    width: 100%;
    position: relative;
    span.arrow{
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      position: absolute;
      top: 40%;
      background: $wine;
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 50px;
      font-size: 2rem;
      color: #fff;
        }
      span.nav-back{
        left: 5px;
      }
      span.nav-forward{
        right: 5px;
      }
      .events-holder{
        position: relative;
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
        #events-container{
          width: 400%;
          position: relative;
          display: inline-flex;
          transition: all 0.4s ease;
          .events{
            padding: 10px 8px;
            width: 80%;
            height: 100%;
            .event-data{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              text-align: center;
              box-shadow: 6px 8px 6px -6px #ccc;
              padding: 30px 3px 30px 3px;
              h2, h3, h5, a, p {
                font-family: $fontText;
              }
              h2, h3 {
                font-size: 1.3rem;
                text-transform: uppercase;
              }
              h3 {
                font-size: 1.5rem;
                font-weight: 600;
                padding: 15px 0;
              }
              h5 {
                font-weight: 600;
                text-transform: uppercase;
              }
              a{
                margin: 10px;
                text-transform: uppercase;
                text-decoration: none;
                p {
                  font-weight: normal;
                  color: #fff;
                }
              }
              p {
                padding: 10px;
                line-height: 1.5rem;
                font-weight: 200;
                  color: $text;
              }
              p.tiny{
                font-size: 1rem;
                color: $text;
              }
              img {
                width: 50%;
                margin: 0 auto;
              }
              .inline{
                h5, p {
                  display: inline;
                  color: $text;
                }
              }
            }
          } .events:nth-of-type(even){
            .event-data{
              border: 5px solid $magenta;
              h2{
                color: $yellow;
              }
              a {
                background-color: $magenta;
              }
            }
          }
          .events:nth-of-type(odd){
            .event-data{
              border: 5px solid $yellow;
              h2{
                color: $magenta;
              }
              a {
                background-color: $yellow;
              }
            }
          }
        }
      }
    }
  }

footer {
  // position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  // bottom: 0;
  text-align: center;
  // width: 100%;
  // min-height: 100px;
  .main-logo{
    width: 50%;
    margin: 0 auto;
  }
  nav{
    margin: 1rem 0;
    ul li{
      padding: 0.5rem 1rem;
      border-radius: 6px;
      background-color: $yellow;

      a{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $fontText;
      }
    }
  }
}

#main-banner {
  overflow: hidden;
  width: 100%;
  // height: 100vh;
  position: relative;
  color: $pinkLight;

  .banner-title {
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: $fontBanner;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 3.8rem;
    z-index: 50;
  }

  .banner-tagline {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 50;
    line-height: 2rem;
    p {
      @extend .text;
      font-size: 1rem;
    }
  }

  .banner-photo {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .banner-photo:first-of-type{
    position: relative;
    opacity: 1;
  }
}

#video{
  width: 100%;
  margin: 100px 0 0 0;
#video-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 6px -6px black;

    // #over-video {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: rgba(255, 255, 255, 0.2);
    //   z-index: 5;
    //   cursor: pointer;
    //   #video-btn {
    //     position: absolute;
    //     width: 4rem;
    //     height: 4rem;
    //     max-width: 16rem;
    //     background-color: $yellow;
    //     border-radius: 50%;
    //     top: 45%;
    //     left: 50%;
    //     z-index: 2147483648;
    //     @include translate(-50%, -50%);
    //     overflow: hidden;
    //     i {
    //       position: absolute;
    //       top: 50%;
    //       left: 55%;
    //       @include translate(-50%, -50%);
    //       color: #ffffff;
    //       font-size: 2rem;
    //     }
    //   }
    // }
    // hide video control on Safari fullscreen
      #promo-video::-webkit-media-controls {
        display:none !important;
      }

      video::-webkit-media-controls-panel {
          display:none !important;
      }

      video::-webkit-media-controls-play-button {
          display: none !important;
      }

      video::-webkit-media-controls-current-time-display {
          display: none !important;
      }

      video::-webkit-media-controls-time-remaining-display {
          display: none !important;
      }

      video::-webkit-media-controls-timeline {
          display: none !important;
      }

      video::-webkit-media-controls-mute-button {
          display: none !important;
      }

      video::-webkit-media-controls-volume-slider {
          display: none !important;
      }

      video::-webkit-media-controls-fullscreen-button {
          display: none !important;
      }

      video::-internal-media-controls-download-button {
          display: none !important;
      }

  #video-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    @include translate(-50%, 0);
    width: 100%;
    height: 2.5rem;
    background-color: rgba(20, 20, 20, 0.7);
    align-items: center;
    z-index: 7;
    opacity: 1;
    #seek-bar {
      position: absolute;
      top: -0.85rem;
      left: 0;
      width: 100%;
      height: 0.8rem;
      cursor: pointer;
      margin: 0;
      border-bottom: 1px solid #141414;
      background-color: rgba(153, 153, 153, 0.5);
      outline: 0;
      span {
        background-color: $yellow;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
      }
    }
    #button-wrapper {
      width: 100%;
      height: 100%;
      overflow: visible;
      #play-btn,
      #full-btn,
      #volume-btn {
        position: relative;
        float: left;
        height: 100%;
        cursor: pointer;
        outline: 0;
        background-color: transparent;
        overflow: hidden;
        .video-ctrl-bt {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 1rem;
          color: #ffffff;
          @include translate(-50%, -50%);
        }
      }
      #play-btn {
        width: 15%;
        max-width: 9rem;
        background-color: $yellow;
      }
      #full-btn {
        width: 3rem;
        float: right;
      }
      #volume-btn {
        width: 1.5rem;
        float: right;
        .video-ctrl-bt {
          right: 0;
        }
      }
      #video-time {
        font-family: $fontText;
        font-weight: 300;
        font-size: 0.9rem;
        color: #ffffff;
        float: left;
        margin: 0.9rem 0 0 0.5rem;
      }

      #volume-bar {
        position: relative;
        width: 5rem;
        height: 2rem;
        top: 50%;
        @include translate(0, -50%);
        float: right;
        overflow: visible;
        cursor: pointer;
        #volume-fg {
          position: absolute;
          right: 0.5rem;
          clip: rect(0, 3.2rem, 4rem, 0);
          height: 0;
          border-style: solid;
          border-width: 0 0 2rem 4rem;
          border-color: transparent transparent $yellow transparent;
          line-height: 0;
          cursor: pointer;
        }
        #volume-bg {
          position: absolute;
          right: 0.5rem;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 0 2rem 4rem;
          border-color: transparent transparent #999999 transparent;
          line-height: 0px;
          cursor: pointer;
          }
        }
      }
    }
  }
  #main-video{
    margin: 0 auto;
    width: 100%;
  // .video-header{
      // .video-cover{
      //
      //     max-width: 1440px;
      //
      // }
    // background: url('images/movie-cover.jpg') no-repeat; // TEMPORARILY HARD CODED
    // background-color: #666;
    // background-blend-mode: multiply;
    // background-size: cover;
    img {
      margin: 0 auto;
      padding: 15px 0 0 0;
      width: 100%;
    }
    // p {
    //   padding: 40px;
    //   color: #fff;
    // }
  }
}




#myths{
  margin: 50px 0 0 0;
  width: 100%;
  text-align: center;
  h2{
    font-family: $fontText;
    color: $purple;
    font-size: 1.8rem;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 500;
  }
  .myths-container{
    width: 80%;
    margin: 0 auto;
    ul li {
      width: 80%;
      -webkit-box-shadow: 2px 5px 22px -9px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px 5px 22px -9px rgba(0,0,0,0.75);
      box-shadow: 2px 5px 22px -9px rgba(0,0,0,0.75);
      padding: 20px;
      text-align: left;
      p {
        font-family: $fontText;
        font-weight: 200;
        line-height: 24px;
        font-size: 1rem;
        color: $text;
      }
      .coloured{
        font-weight: 600;
        font-family: $fontText;
        font-size: 2.2rem;
        line-height: 60px;
      }
    }
    li:nth-child(4n+1){
      z-index: 100;
      border-bottom: 15px solid $wine;
      .coloured{
        color: $wine;
      }
    }
    li:nth-child(4n+2){
      z-index: 90;
      margin-left: 30px;
      margin-top: -15px;
      border-bottom: 15px solid $pink;
      .coloured{
        color: $pink;
      }
    }
    li:nth-child(4n+3){
      z-index: 80;
      margin-top: -15px;
      border-bottom: 15px solid $yellow;
      .coloured{
        color: $yellow;
      }
    }
    li:nth-child(4n+4){
      z-index: 70;
      margin-left: 30px;
      margin-top: -15px;
      border-bottom: 15px solid $magenta;
      .coloured{
        color: $magenta;
      }
    }
  }
}

#instagram {
  margin: 3rem 0 2rem 0;
  width: 100%;
  overflow: hidden;
  h2 {
    font-family: $fontText;
    color: $purple;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
  }
  .title {
    font-family: $fontText;
    color: $purple;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
  }
  #insta-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // grid-column-gap: 1px;
    // background-color: #cccccc;

    .insta-item {
      display: none;
      flex-direction: column;
      border-top: 15px solid $magenta;
      border-bottom: 15px solid $magenta;
      // border-left: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
      .insta-photo {
        width: 100%;
        -webkit-clip-path: polygon(0 0, 0 85%, 15% 85%, 30% 100%, 45% 85%, 100% 85%, 100% 0);
        clip-path: polygon(0 0, 0 85%, 15% 85%, 30% 100%, 45% 85%, 100% 85%, 100% 0);
      }
      .insta-post {
        position: relative;
        @extend .text;
        color: $magenta;
        margin: -1rem 1rem 2rem 1rem;
        text-align: right;
        .insta-name {
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 500;
        }
        .insta-user {
          font-size: 0.8rem;
          font-weight: normal;
        }
        .insta-text {
          color: $text;
          font-size: 0.8rem;
          font-style: italic;
          line-height: 1.1rem;
          margin-top: 1rem;
          text-align: left;
        }
        &:after {
          position: absolute;
          left: 0;
          bottom: -1.5rem;
          content: "#LiveBeyondYourLife";
          font-size: 0.8rem;
          font-weight: bold;
        }
      }
    }
    .insta-item:nth-of-type(even) {
      flex-direction: column-reverse;
      .insta-photo {
        -webkit-clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 15%, 85% 15%, 70% 0, 55% 15%);
        clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 15%, 85% 15%, 70% 0, 55% 15%);
      }
      .insta-post {
        text-align: left;
        margin: 1rem 1rem 2rem 1rem;
      }
    }
    .insta-item:nth-of-type(2),
    .insta-item:nth-of-type(3) {
      display: flex;
    }
    .insta-item:nth-of-type(2) {
      border-top-color: $yellow;
      border-bottom-color: $yellow;
      .insta-post {
        color: $yellow;
      }
    }
    .insta-item:nth-of-type(3) {
      border-top-color: $pink;
      border-bottom-color: $pink;
      .insta-post {
        color: $pink;
      }
    }
    .insta-item:nth-of-type(4) {
      border-top-color: $wine;
      border-bottom-color: $wine;
      .insta-post {
        color: $wine;
      }
    }
  }
}

#association {
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 1rem 1rem auto;
  text-align: right;
  p {
    @extend .text;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  #logo-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    a {
      #logo-beadonor {
        width: 90%;
      }
      #logo-trillium {
        width: 80%;
      }
    }
  }
}

// 640px
@media screen and (min-width: 40rem) {
  header{
    height: 6rem;
    div {
      height: 6rem;
      .main-logo {
        width: 13rem;
        margin: 1.4rem 0 0 1.5rem;
      }
      #hamburger-menu {
        font-size: 3.2rem;
        margin: 1rem 1.5rem 0 0;
      }
    }
    #main-nav{
      ul {
        padding: 1.2rem 0;
        li {
          margin: 0.8rem 0;
          a{
            font-size: 1.5rem;
          }
        }
        li:last-child {
          max-width: 12rem;
        }
      }
    }
  }

  #main-banner {
    .banner-title {
      width: 50%;
      top: 20%;
      left: 10%;
      font-size: 4.8rem;
      line-height: 7.5rem;
    }

    .banner-tagline {
      line-height: 3.2rem;
      p {
        font-size: 1.8rem;
      }
    }
  }

  #facts {
    margin: 4rem 0;
    h2 {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }
    #fact-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 0;
      grid-column-gap: 2rem;
      margin: 0 2rem;
    }
  }

  #stats {
    // background: $orchid;
    // background: linear-gradient(to bottom, $orchid, $purple);
    margin-top: 7rem;
    #stats-wrapper {
      ul {
        // display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
        li {
          // display: grid;
          grid-template-columns: 1fr;
          // text-align: center;
          // align-items: center;
          // font-family: $fontText;
          margin-top: -8vw;
          .stats-organ {
            // justify-content: center;
            padding: 0;
            margin-bottom: 5rem;
            .icon-wrapper {
              // display: inline-block;
              width: 12vw;
              height: 12vw;
              line-height: 12vw;
              // background-color: $purple;
              // border-radius: 100%;
              border: 1vw solid #ffffff;;

              // img {
              //   // vertical-align: middle;
              //   // width: 60%;
              //   // height: 60%;
              // }
            }
            .organ-name {
              // text-transform: uppercase;
              // color: #ffffff;
              font-size: 2.5vw;
              // font-weight: 500;
              margin-top: 1rem;
            }
          }
          .organ-success,
          .organ-queue {
            // position: relative;
            // display: flex;
            // width: 100%;
            // height: 100%;
            // font-family: $fontFacts;
            font-size: 4.5vw;
            // align-items: center;
            // justify-content: center;
            // margin-top: 2rem;
            // margin-bottom: 2rem;
            padding: 5rem 0;
          }
          // .organ-success {
          //   color: $yellow;
          // }
          .organ-queue {
            // color: $pink;
            border-left: none;
            // margin-top: 2rem;
          }
        }
        li:first-of-type {
          .stats-organ {
            padding-top: 0;
          }
          .organ-success:before,
          .organ-queue:before {
            // position: absolute;
            top: 20%;
            left: 100%;
            width: 300%;
            content: "Successful organ transplants happened in Ontario in 2017";
            // font-family: $fontText;
            font-size: 1.8vw;
            // color: #ffffff;
            // background-color: $yellow;
            // text-transform: uppercase;
            // text-shadow: 1px 1px 3px #000000;
            line-height: normal;
            padding: 1rem 0;
            // border-top: 0.25rem solid $yellow;
            // margin-top: -50%;
            // box-shadow: 2px 3px 8px -2px #000000;
          }
          .organ-queue:before {
            content: "People still waiting for a transplant";
            background-color: $pink;
          }
        }
        li:last-of-type {
          .stats-organ {
            padding-bottom: 0;
          }
        }
      }
    }
  }


// #main-video{
//   .video-header{
//     background: url('images/movie-cover.jpg') no-repeat; // TEMPORARILY HARD CODED
//     background-color: #666;
//     background-blend-mode: multiply;
//     img {
//       width: 70%;
//     }
//     p {
//       padding: 45px 60px;
//     }
//   }
// }

  #myths{
    .myths-container{
      width: 60%;
      margin: 0 auto;
      ul li {
        width: 100%;
      }
    }
  }

  #events{
    #event-caroussel{
      .events-holder{
        position: relative;
        width: 85%;
        margin: 0 auto;
        overflow: hidden;
        #events-container{
          width: 200%;
          position: relative;
          display: inline-flex;
          transition: all 0.4s ease;
          .events{
            padding: 10px 8px;
            width: 50%;
            height: 100%;
            .event-data{
              min-height: 400px;
              padding: 30px 3px 10px 3px;
            }
          }
        }
      }
    }
  }

  #instagram {
    margin: 3rem 0;
    h2 {
      font-size: 2rem;
    }
    .title {
      font-size: 1.4rem;
      margin: 1.5rem;
    }
    #insta-wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      margin-top: 3rem;

      .insta-item {
        .insta-post {
          margin: -1rem 1rem 3rem 1rem;
          .insta-name {
            font-size: 1rem;
          }
          .insta-user {
            font-size: 0.8rem;
          }
          .insta-text {
            font-size: 0.9rem;
            margin-top: 1rem;
          }
          &:after {

            bottom: -2rem;
            font-size: 1rem;
          }
        }
      }
      .insta-item:nth-of-type(even) {
        .insta-post {
          margin: 1rem 1rem 3rem 1rem;
        }
      }
      .insta-item:nth-of-type(1) {
        display: flex;
      }
    }
  }

  #association {
    width: 65%;
    grid-template-columns: 1fr 2fr;
    margin: 0 1rem 1rem auto;
    align-items: center;
    p {
      font-size: 0.9rem;
      margin: 0;
      text-align: center;
    }
    #logo-wrapper {
      a {
        #logo-beadonor {
          width: 90%;
        }
        #logo-trillium {
          width: 80%;
        }
      }
    }
  }

}

// 1024px
@media screen and (min-width: 64rem) {
  header{
    display: flex;
    align-items: center;
    div {
      .main-logo {
        width: 13rem;
        margin: 1.4rem 0 0 1.5rem;
      }
      #hamburger-menu {
        display: none;
      }
    }
    #main-nav{
      background-color: transparent;
      border-radius: 0;
      top: auto;
      margin-right: 1.5rem;
      ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        li {
          display: inline-block;
          margin: 0 1.4vw;
          a{
            font-size: 1rem;
          }
        }
        li:last-child {
          max-width: 6rem;
          margin: 0;
        }
      }
    }
  }

  #main-banner {
    .banner-title {
      width: 100%;
      left: 5%;
      font-size: 6rem;
      line-height: 7.5rem;
    }

    .banner-tagline {
      bottom: 17%;
      left: 5%;
      line-height: normal;
      p {
        display: inline;
        font-size: 1.8rem;
        margin-right: 0.5rem;
      }
    }

    .banner-photo {
      margin-top: 5rem;
    }
  }

  #facts {
    margin: 4rem 0;
    h2 {
      // @extend .text;
      // font-weight: 500;
      font-size: 3rem;
      // color: $purple;
      // text-align: center;
      // text-transform: uppercase;
      margin-bottom: 3rem;
    }
    #fact-wrapper {
      // display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 0;
      grid-column-gap: 2rem;
      margin: 0 6rem;
      .fact {
        // display: flex;
        // justify-self: center;
        // justify-content: center;
        // align-items: center;
        width: 100%;
        // padding: 0.5 1rem;
        // height: 100%;
        max-width: 300px;
        // background: $purple;
        // background: linear-gradient(to bottom, $pink, $purple);
        // border: none;
        // border-radius: 3px;
        // box-shadow: 0 1rem 1rem -1rem #000000;
        .fact-desc {
          // font-family: $fontFacts;
          // font-weight: bold;
          font-size: 1.8rem;
          // color: #ffffff;
          margin: 1rem 0.5rem;
          // padding: 0 0.5rem;
          // text-align: center;
          line-height: 2.8rem;
          .number {
            font-size: 3.6rem;
            color: $yellow;
          }
          .bigger {
            font-size: 2.8rem;
          }
        }
      }
    }
  }

#events{
  .event-header{
    padding: 20px;
    h2{
      font-size: 3rem;
      padding: 15px 0;
    }
  }
  #event-caroussel{
    .events-holder{
      width: 90%;
        #events-container{
          width: 100%;
          position: relative;
          display: inline-flex;
          transition: all 0.4s ease;
          .events{
            padding: 10px 8px;
            width: 33%;
            height: 100%;
            .event-data{
              min-height: 400px;
              padding: 30px 10px 10px 10px;
            }
          }
        }
      }
    }
  }

  #video{
    width: 100%;
    margin: 100px 0 0 0;
    #main-video{
      width: 80%;
    }
    #video-wrapper {
        width: 80%;
    }

}
  // #main-video{
  //   // .video-header{
  //     background: url('images/movie-cover.jpg') no-repeat; // TEMPORARILY HARD CODED
  //     background-color: #666;
  //     background-blend-mode: multiply;
  //     img {
  //       width: 50%;
  //     }
  //     // p {
  //     //   padding: 50px 200px;
  //     // }
  //   // }
  // }

  #myths{
    h2{
      font-size: 3rem;
      padding: 40px 0;
    }
    .myths-container{
      ul li {
        .coloured{
          font-size: 3rem;
          line-height: 80px;
          }
        }
      }
    }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    padding: 30px 0;
    bottom: 0;
    width: 100%;
    // min-height: 100px;
    .main-logo{
      width: 50%;
      float: right;
    }
    nav{
      ul li{
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-weight: bold;
        background-color: $yellow;
        a{
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;

        }
      }
    }
  }

  #instagram {
    margin: 3rem 0;
    h2 {
      font-size: 2rem;
    }
    .title {
      font-size: 1.4rem;
      margin: 1.5rem;
    }
    #insta-wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-top: 3rem;

      .insta-item {
        .insta-post {
          margin: -1rem 1rem 3rem 1rem;
          .insta-name {
            font-size: 1.2rem;
          }
          .insta-user {
            font-size: 0.9rem;
          }
          .insta-text {
            font-size: 0.9rem;
            margin-top: 1rem;
          }
          &:after {

            bottom: -2rem;
            font-size: 1rem;
          }
        }
      }
      .insta-item:nth-of-type(even) {
        .insta-post {
          margin: 1rem 1rem 3rem 1rem;
        }
      }
      .insta-item:nth-of-type(4) {
        display: flex;
      }
    }
  }

  #association {
    width: 40%;
    grid-template-columns: 1fr 2fr;
    margin: 1rem 1rem 2rem auto;
    align-items: center;
    p {
      font-size: 0.9rem;
      text-align: right;
    }
    #logo-wrapper {
      a {
        #logo-beadonor {
          width: 75%;
        }
        #logo-trillium {
          width: 65%;
        }
      }
    }
  }

}

// 1440px
@media screen and (min-width: 90rem) {
  header{
    #main-nav{
      ul {
        li {
          margin: 0 1.3rem;
        }
      }
    }
  }
}
