/*SCSS document*/

@import "reset";
@import "fonts";
@import "globals";
@import "mixins";

body {
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.text {
  font-family: $fontText;
  font-weight: 300;
}

header, footer {
  background-color: $purple;
}

#container{
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  // transition: height 0.3s 0.5s ease-in-out;
  z-index: 100;
  // opacity: 1;
  div {
    background-color: $purple;
    height: 4rem;
    z-index: 150;
    opacity: 1;
    .main-logo {
      width: 9rem;
      margin: 1rem 0 0 0.8rem;
    }
    #hamburger-menu {
      color: #fff;
      float: right;
      font-size: 2.8rem;
      margin: 0.5rem 0.8rem 0 0;
      cursor: pointer;
    }
  }
  #main-nav{
    background-color: rgba(53, 9, 50, 0.8);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    top: -600%;
    width: 100%;
    @extend .text;
    z-index: -50;
    transition: top 0.8s ease-in-out;
    ul {
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      li {
        margin: 0.5rem 0;
        a{
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.2rem;
        }
      }
      li:last-child {
        width: 30%;
        margin: 1.5rem auto;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-weight: bold;
        background-color: $yellow;
      }
    }
  }
}
header.openmenu {
    #main-nav {
      top: 0;
    }
}

#events{
  margin: 50px 0 0 0;
  // width: 100%;
  .event-header{
    text-align: center;
          padding: 10px;
    h2, p{
      font-family: $fontText;
      color: $purple;
    }
    h2{
      font-size: 1.5rem;
      padding: 10px 0;
    }
    p {
      font-weight: 200;
    }
  }
  #event-caroussel{
    width: 100%;
    position: relative;
    span.arrow{
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      position: absolute;
      top: 40%;
      background: $wine;
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 50px;
      font-size: 2rem;
      color: #fff;
        }
      span.nav-back{
        left: 5px;
      }
      span.nav-forward{
        right: 5px;
      }
      .events-holder{
        position: relative;
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
        #events-container{
          width: 400%;
          position: relative;
          display: inline-flex;
          transition: all 0.4s ease;
          .events{
            padding: 10px 8px;
            width: 80%;
            height: 100%;
            .event-data{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              text-align: center;
              box-shadow: 6px 8px 6px -6px #ccc;
              padding: 30px 3px 30px 3px;
              h2, h3, h5, a, p {
                font-family: $fontText;
              }
              h2, h3 {
                font-size: 1.3rem;
                text-transform: uppercase;
              }
              h3 {
                font-size: 1.5rem;
                font-weight: 600;
                padding: 15px 0;
              }
              h5 {
                font-weight: 600;
                text-transform: uppercase;
              }
              a{
                margin: 10px;
                text-transform: uppercase;
                text-decoration: none;
                p {
                  font-weight: normal;
                  color: #fff;
                }
              }
              p {
                padding: 10px;
                line-height: 1.5rem;
                font-weight: 200;
              }
              p.tiny{
                font-size: 0.5rem;
              }
              img {
                width: 50%;
                margin: 0 auto;
              }
              .inline{
                h5, p {
                  display: inline;
                }
              }
            }
          } .events:nth-of-type(even){
            .event-data{
              border: 5px solid $magenta;
              h2{
                color: $yellow;
              }
              a {
                background-color: $magenta;
              }
            }
          }
          .events:nth-of-type(odd){
            .event-data{
              border: 5px solid $yellow;
              h2{
                color: $magenta;
              }
              a {
                background-color: $yellow;
              }
            }
          }
        }
      }
    }
  }

footer {
  // position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100px;
  .main-logo{
    width: 20%;
  }
}

#main-banner {
  overflow: hidden;
  width: 100%;
  // height: 100vh;
  position: relative;
  color: $pinkLight;

  .banner-title {
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: $fontBanner;
    font-size: 1.8rem;
    text-transform: uppercase;
    line-height: 3.8rem;
    z-index: 50;
  }

  .banner-tagline {
    position: absolute;
    bottom: 10%;
    left: 10%;
    z-index: 50;
    line-height: 2rem;
    p {
      @extend .text;
      font-size: 1rem;
    }
  }

  .banner-photo {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .banner-photo:first-of-type{
    position: relative;
    opacity: 1;
  }
}

// 640px
@media screen and (min-width: 40rem) {
  header{
    height: 6rem;
    div {
      height: 6rem;
      .main-logo {
        width: 13rem;
        margin: 1.4rem 0 0 1.5rem;
      }
      #hamburger-menu {
        font-size: 3.2rem;
        margin: 1rem 1.5rem 0 0;
      }
    }
    #main-nav{
      ul {
        padding: 1.2rem 0;
        li {
          margin: 0.8rem 0;
          a{
            font-size: 1.5rem;
          }
        }
        li:last-child {
          max-width: 12rem;
        }
      }
    }
  }

  #main-banner {
    .banner-title {
      width: 50%;
      top: 20%;
      left: 10%;
      font-size: 4.8rem;
      line-height: 7.5rem;
    }

    .banner-tagline {
      line-height: 3.2rem;
      p {
        font-size: 1.8rem;
      }
    }
  }

#events{
  #event-caroussel{
    .events-holder{
      position: relative;
      width: 85%;
      margin: 0 auto;
      overflow: hidden;
      #events-container{
        width: 200%;
        position: relative;
        display: inline-flex;
        transition: all 0.4s ease;
        .events{
          padding: 10px 8px;
          width: 50%;
          height: 100%;
          .event-data{
            min-height: 400px;
            padding: 30px 3px 10px 3px;
          }
        }
      }
    }
  }
}

}

// 1024px
@media screen and (min-width: 64rem) {
  header{
    display: flex;
    align-items: center;
    div {
      .main-logo {
        width: 13rem;
        margin: 1.4rem 0 0 1.5rem;
      }
      #hamburger-menu {
        display: none;
      }
    }
    #main-nav{
      background-color: transparent;
      border-radius: 0;
      top: auto;
      margin-right: 1.5rem;
      ul {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        li {
          display: inline-block;
          margin: 0 1.4vw;
          a{
            font-size: 1rem;
          }
        }
        li:last-child {
          max-width: 6rem;
          margin: 0;
        }
      }
    }
  }

  #main-banner {
    .banner-title {
      width: 100%;
      left: 5%;
      font-size: 6rem;
      line-height: 7.5rem;
    }

    .banner-tagline {
      bottom: 25%;
      left: 5%;
      line-height: normal;
      p {
        display: inline;
        font-size: 1.8rem;
        margin-right: 0.5rem;
      }
    }

    .banner-photo {
      margin-top: 5rem;
    }
  }

#events{
  .event-header{
    padding: 20px;
    h2{
      font-size: 1.8rem;
      padding: 15px 0;
    }
  }
  #event-caroussel{
    .events-holder{
      width: 90%;
        #events-container{
          width: 100%;
          position: relative;
          display: inline-flex;
          transition: all 0.4s ease;
          .events{
            padding: 10px 8px;
            width: 33%;
            height: 100%;
            .event-data{
              min-height: 400px;
              padding: 30px 3px 10px 3px;
            }
          }
        }
      }
    }
  }
}

// 1440px
@media screen and (min-width: 90rem) {
  header{
    #main-nav{
      ul {
        li {
          margin: 0 1.3rem;
        }
      }
    }
  }
  #events{
    #event-caroussel{
      .events-holder{
        #events-container{
          .events{
            .event-data{
            }
          }
        }
      }
    }
  }
}
