/*SCSS document*/

@import "reset";
@import "fonts";
@import "globals";
@import "mixins";

body {
  width: 100%;
  position: relative;
}

.hidden {
  display: none;
}

.text {
  font-family: $fontText;
  font-weight: 300;
}

header, footer {
  background-color: $purple;
}

#container{
  width: 100%;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}

header{
  width: 100%;
  // padding: 20px;
  height: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  transition: height 0.3s 0.5s ease-in-out;
  z-index: 100;
  opacity: 1;
  div {
    background-color: $purple;
    height: 4rem;
    z-index: 150;
    opacity: 1;
    .main-logo {
      width: 40%;
      margin: 0.8rem 0 0 0.8rem;
    }
    #hamburger-menu {
      color: #fff;
      float: right;
      font-size: 2.8rem;
      margin: 0.5rem 0.8rem 0 0;
      cursor: pointer;
    }
  }
  #main-nav{
    background-color: $purple;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
    top: -600%;
    // opacity: 1;
    // left: 0;
    width: 100%;
    @extend .text;
    margin-bottom: 0.5rem;
    // text-align: center;
    z-index: -50;
    transition: top 0.8s ease-in-out;
    ul {
      width: 100%;
      margin: 0 auto;
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      li {
        margin: 0.5rem 0;
        // float: left;
        a{
          text-transform: uppercase;
          text-decoration: none;
          color: #ffffff;
          font-size: 1.2rem;
        }
      }
      li:last-child {
        width: 30%;
        margin: 1.5rem auto;
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-weight: bold;
        background-color: $yellow;
      }
    }
  }
}
header.openmenu {
  // height: 25rem;
  // max-height: auto;
  // transition: height 0.3s ease-in-out;
    #main-nav {
      top: 0;
      // transition: top 0.8s ease-in-out;
    }
}

#events{
  margin: 50px 0 0 0;
  // width: 100%;
  .event-header{
    text-align: center;
          padding: 10px;
    h2, p{
      font-family: $fontText;
      color: $purple;
    }
    h2{
      font-size: 1.5rem;
      padding: 10px 0;
    }
    p {
      font-weight: 200;
    }
  }
  #event-caroussel{
    width: 100%;
    position: relative;
    span.arrow{
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      position: absolute;
      top: 40%;
      background: $wine;
      cursor: pointer;
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 50px;
      font-size: 2rem;
      color: #fff;
        }
      span.nav-back{
        left: 5px;
      }
      span.nav-forward{
        right: 5px;
      }
      .events-holder{
        position: relative;
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
        #events-container{
          width: 400%;
          position: relative;
          display: inline-flex;
          transition: all 0.4s ease;
          .events{
            padding: 10px 8px;
            width: 80%;
            height: 100%;
            .event-data{
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              text-align: center;
              box-shadow: 6px 8px 6px -6px #ccc;
              padding: 30px 3px 30px 3px;
              h2, h3, h5, a, p {
                font-family: $fontText;
              }
              h2, h3 {
                font-size: 1.3rem;
                text-transform: uppercase;
              }
              h3 {
                font-size: 1.5rem;
                font-weight: 600;
                padding: 15px 0;
              }
              h5 {
                font-weight: 600;
                text-transform: uppercase;
              }
              a{
                margin: 10px;
                text-transform: uppercase;
                text-decoration: none;
                p {
                  font-weight: normal;
                  color: #fff;
                }
              }
              p {
                padding: 10px;
                line-height: 1.5rem;
                font-weight: 200;
              }
              p.tiny{
                font-size: 0.5rem;
              }
              img {
                width: 50%;
                margin: 0 auto;
              }
              .inline{
                h5, p {
                  display: inline;
                }
              }
            }
          } .events:nth-of-type(even){
            .event-data{
              border: 5px solid $magenta;
              h2{
                color: $yellow;
              }
              a {
                background-color: $magenta;
              }
            }
          }
          .events:nth-of-type(odd){
            .event-data{
              border: 5px solid $yellow;
              h2{
                color: $magenta;
              }
              a {
                background-color: $yellow;
              }
            }
          }
        }
      }
    }
  }

// footer {
//   // position: absolute;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-content: center;
//   padding: 10px;
//   bottom: 0;
//   text-align: center;
//   // width: 100%;
//   // min-height: 100px;
//   .main-logo{
//     width: 50%;
//     margin: 0 auto;
//   }
//   nav{
//     margin: 1rem 0;
//     ul li{
//       padding: 0.5rem 1rem;
//       border-radius: 6px;
//       background-color: $yellow;
//
//       a{
//         color: #fff;
//         text-transform: uppercase;
//         text-decoration: none;
//         font-family: $fontText;
//       }
//     }
//   }
// }

#main-banner {
  overflow: hidden;
  width: 100%;
  position: relative;
  .banner-photo {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 100%;
  }
  .banner-photo:first-of-type{
    position: relative;
    width: 100%;
    // top: 0;
    left: 0;
    bottom: 0;
  }
}

// 640px
@media screen and (min-width: 40rem) {

#events{
  #event-caroussel{
    .events-holder{
      position: relative;
      width: 85%;
      margin: 0 auto;
      overflow: hidden;
      #events-container{
        width: 200%;
        position: relative;
        display: inline-flex;
        transition: all 0.4s ease;
        .events{
          padding: 10px 8px;
          width: 50%;
          height: 100%;
          .event-data{
            min-height: 400px;
            padding: 30px 3px 10px 3px;
          }
        }
      }
    }
  }
}

}

// 1024px
@media screen and (min-width: 64rem) {
  #container{
    header{
      width: 100%;
      padding: 20px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      height: auto;
      .main-logo {
        width: 40%;
        // max-width:
      }
      #main-nav{
        // margin-bottom: 0;
        left: 0;
        // float: right;
        ul {
          display: inline-flex;
          flex-direction: row;

          li {
            a{
              text-transform: uppercase;
              text-decoration: none;
              color: #fff;
            }
          }
          li:last-child {
            background-color: $yellow;
          }
        }
      }
      #hamburger-menu {
        display: none;
      }
    }
  }

#events{
  .event-header{
    padding: 20px;
    h2{
      font-size: 1.8rem;
      padding: 15px 0;
    }
  }
  #event-caroussel{
    .events-holder{
      width: 90%;
        #events-container{
          width: 100%;
          position: relative;
          display: inline-flex;
          transition: all 0.4s ease;
          .events{
            padding: 10px 8px;
            width: 33%;
            height: 100%;
            .event-data{
              min-height: 400px;
              padding: 30px 3px 10px 3px;
            }
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    padding: 30px;
    bottom: 0;
    width: 100%;
    // min-height: 100px;
    .main-logo{
      width: 50%;
      float: right;
    }
    nav{
      ul li{
        padding: 0.5rem 1rem;
        border-radius: 6px;
        font-weight: bold;
        background-color: $yellow;
        a{
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;

        }
      }
    }
  }
}

// 1440px
@media screen and (min-width: 90rem) {

  #events{
    #event-caroussel{
      .events-holder{
        #events-container{
          .events{
            .event-data{
            }
          }
        }
      }
    }
  }
}
