<header>
  <div>
    <a id="header-logo" class="section-link" href="/"><img class="main-logo" src="/images/logo_white.svg" alt="Main Logo"></a>
    <i id="hamburger-menu" class="ion-android-menu"></i>
  </div>
  <nav id="main-nav">
    <h1 class="hidden">Main Navigation</h1>
    <ul>
      <li><a class="section-link" href="/admin">Admin</a></li>
      <li><a class="section-link" href="/admin/users">Users</a></li>
      <li><a class="section-link" href="/admin/user/register">Create User</a></li>
      <li><a class="section-link" href="/admin/logout">Log Out</a></li>
    </ul>
  </nav>
</header>
