<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="css/main.css">
  <title>{{ title }}</title>
</head>
<body>
  <div id="container">
    <h1 class="hidden">Live Beyond Your Life Homepage Campaign</h1>
    <header>
      <div>
        <a id="header-logo" class="section-link" href="#"><img class="main-logo" src="images/logo_white.svg" alt="Main Logo"></a>
        <i id="hamburger-menu" class="ion-android-menu"></i>
      </div>
      <nav id="main-nav">
        <h1 class="hidden">Main Navigation</h1>
        <ul>
          <li><a id="menu-facts" class="section-link" href="#">Did you know?</a></li>
          <li><a id="menu-stats" class="section-link" href="#">The Organs</a></li>
          <li><a id="menu-myths" class="section-link" href="#">Demystifying</a></li>
          <li><a id="menu-video" class="section-link" href="#">Video</a></li>
          <li><a id="menu-events" class="section-link" href="#">Benefits Club</a></li>
          <li><a id="menu-insta" class="section-link" href="#">#Livebeyondyourlife</a></li>
          <li><a href="https://www.ontario.ca/page/organ-and-tissue-donor-registration" target="_blank">Register</a></li>
        </ul>
      </nav>
    </header>
    {{{ body }}}

    <div id="association">
      <p>In association with</p>
      <div id="logo-wrapper">
        <a href="https://beadonor.ca" title="Be a Donor"><img id="logo-beadonor" src="images/logo_beadonor_gray.png" alt="Be a Donor logo"></a>
        <a href="https://www.giftoflife.on.ca" title="Trillium Gift of Life"><img id="logo-trillium" src="images/logo_trillium_gray.png" alt="Trillium Gift of Life logo"></a>
      </div>
    </div>
    <footer>
      <h1 class="hidden">Footer Navigation</h1>
      <nav id="footer-nav">
        <ul>
          <li><a href="https://www.ontario.ca/page/organ-and-tissue-donor-registration" target="_blank">Register as a Donor</a></li>
        </ul>
      </nav>
        <a href="#"><img class="main-logo" src="images/logo_white.svg" alt="Main Logo"></a>
    </footer>
  </div>
  <script src="greensock-js/src/minified/TweenMax.min.js"></script>
  <script src="js/build/main.js"></script>

</body>
</html>
