{{> nav-admin}}
<div id="admin-container">

  <img class="admin-logo" src="images/logo_gray.svg" alt="Main Logo">

<h1>{{title}}</h1>
{{#if user}}
  <h3 class="greeting">Welcome {{ user }}</h3>
{{/if}}

<button type="button" class="admin-button" name="banner">Banner</button>
<button type="button" class="admin-button" name="events">Events</button>
<button type="button" class="admin-button" name="facts">Facts</button>
<button type="button" class="admin-button" name="myths">Myths</button>
<button type="button" class="admin-button" name="stats">Stats</button>
<button type="button" class="admin-button" name="video">Video</button>

<section id="item-list">
  <div id="item-add">

  </div>
  <ul id="item-wrapper">

  </ul>
</section>

</div>
