<h1>{{title}}</h1>

<button type="button" name="banner">Banner</button>
<button type="button" name="events">Events</button>
<button type="button" name="facts">Facts</button>
<button type="button" name="myths">Myths</button>
<button type="button" name="stats">Stats</button>
<button type="button" name="video">Video</button>

<section id="item-list">
  <div id="item-add">

  </div>
  <ul id="item-wrapper">

  </ul>
</section>
