<div id="main-banner">
  <p class="banner-title">Live Beyond <br>Your <br>Life</p>
  <div class="banner-tagline">
    <p>Be the difference.</p>
    <p>Register as an organ donor today.</p>
  </div>
</div>


<section id=events>
  <div class="event-header">
    <h2>Benefits Club</h2>
    <p>Our partners recognize the value of registering as an organ donor.</p></br>
    <p>Check out what's up next.</p>
  </div>
  <div id="event-caroussel">
  <span class="nav-back  arrow"><i class="ion-ios-arrow-back" aria-hidden="true"></i></span>
    <div class="events-holder">
      <div id="events-container">

      </div>
    </div>
  <span class="nav-forward  arrow"><i class="ion-ios-arrow-forward" aria-hidden="true"></i></span>
</div>
</section>
