<div id="main-banner">
  <p class="banner-title">Live Beyond <br>Your <br>Life</p>
  <div class="banner-tagline">
    <p>Be the difference.</p>
    <p>Register as an organ donor today.</p>
  </div>
</div>

<section id="facts">
  <h2>Did you know?</h2>
  <div id="fact-wrapper">

  </div>
</section>

<section id="stats">
  <h2 class="hidden">Organ Transplant Statistics</h2>
  <div id="stats-wrapper">
    <ul>

    </ul>
  </div>
</section>

<section id="myths">
  <h2>Demystifying Organ Donation</h2>
  <div class="myths-container">
    <ul id="myths-list">
    </ul>
  </div>
</section>

<section id="video">
  <h2 class="hidden">Main Video</h2>
          <div id="main-video">

          </div>

          <div id="video-wrapper">
          <!-- <video src="videofile.ogg" poster="posterimage.jpg">
          </video> -->
              <!-- <div id="over-video">
                <div id="video-btn">
                  <i class="ion-play" aria-hidden="true"></i>
                </div>
              </div> -->

              <div id="video-controls">
                <div id="seek-bar">
                  <span></span>
                </div>
              <div id="button-wrapper" class="clearfix">
                  <div id="play-btn">
                    <i class="ion-play video-ctrl-bt" aria-hidden="true"></i>
                  </div>
                  <p id="video-time">0:00</p>
                  <div id="full-btn">
                    <i class="ion-arrow-expand video-ctrl-bt" aria-hidden="true"></i>
                  </div>
                  <div id="volume-bar">
                    <div id="volume-bg"></div>
                    <div id="volume-fg"></div>
                  </div>
                  <div id="volume-btn">
                    <i class="ion-android-volume-up video-ctrl-bt" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
          </div>

</section>

<section id=events>
  <div class="event-header">
    <h2>Benefits Club</h2>
    <p>Our partners recognize the value of registering as an organ donor.</p></br>
    <p>Check out what's up next.</p>
  </div>
  <div id="event-caroussel">
  <span class="nav-back  arrow"><i class="ion-ios-arrow-back" aria-hidden="true"></i></span>
    <div class="events-holder">
      <div id="events-container">

      </div>
    </div>
  <span class="nav-forward  arrow"><i class="ion-ios-arrow-forward" aria-hidden="true"></i></span>
</div>
</section>

<section id="instagram">
  <p class="title">Share your story with</p>
  <h2 class="hashtag">#LiveBeyondYourLife</h2>
  <p class="title">to be featured in our page</p>
  <div id="insta-wrapper">

  </div>
</section>
