<h2>Login</h2>

<form method="post">
  <label>Username:</label>
  <input type="text" name="username" value="">
  <br>
  <label>Password:</label>
  <input type="password" name="password" value="">
  <br><br>
  <input type="submit" id="submit" name="submit" value="LOGIN">
</form>
